<nav class="navbar bg-base-100 shadow">
  <div class="container mx-auto">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-xl">Climate Solutions</a>
    </div>
    <div class="flex-none gap-2">
      <a href="/about" class="btn btn-ghost">About</a>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn m-1">Sector</div>
        <ul tabindex="0" class="dropdown-content menu bg-base-200 rounded-box z-[1] w-52 p-2 shadow">
          <li><a href="/solutions/projects?sector=Electricity">Electricity</a></li>
          <li><a href="/solutions/projects?sector=Transportation">Transportation</a></li>
          <li><a href="/solutions/projects?sector=Industry">Industry</a></li>
          <li><a href="/solutions/projects?sector=Buildings">Buildings</a></li>
          <li><a href="/solutions/projects?sector=Food">Food, Agriculture, and Land Use</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
